.form{
  margin: 10em;
}
.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.example-half-width {
  width: 50%;
}
.example-full-width-form{
  margin: 1%;
  width: 100%;

}
.title{
  margin-left: 3%;
  color:  #3F51B5;

}

