table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.theme1{
  margin-left: 3%;
  margin-right: 3%;
}

td, th {
  width: 29%;
}
.title{
  margin-left: 3%;
  color:  #3F51B5;

}
.my-16{
  margin-right: 3%;
}
