<h2 class="title">Tool List</h2>
<div class="my-16" fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button color="primary" routerLink="create" *ngIf="userexist">
    <mat-icon class="s-24 mr-4">add</mat-icon>
    Create New
  </button>

</div>
<div class=theme1>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 w-100-p">
  <ng-container matColumnDef="id">
    <th mat-header-cell class="px-12" *matHeaderCellDef>ID</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="CreatedDate">
    <th mat-header-cell class="px-12" *matHeaderCellDef>Created Date</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.date | date :'d MMMM y'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Source">
    <th mat-header-cell class="px-12" *matHeaderCellDef>Source</th>
    <td mat-cell class="px-12" *matCellDef="let element">
      <a [href]="element.source" target="_blank">
        <mat-icon>source</mat-icon>
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
    <td mat-cell class="px-12 w-180" *matCellDef="let element">
      <button mat-icon-button color="primary" [routerLink]="element.id + '/auteurs'">
        <mat-icon>emoji_people</mat-icon>
      </button>
      <button mat-icon-button color="primary" [routerLink]="element.id + '/edit'" *ngIf="userRole=='ROLE_ADMIN'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onRemoveTool(element.id)" *ngIf="userRole=='ROLE_ADMIN'">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
