<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="color: #3F51B5">Login</mat-card-title>
      <br><br>
    </mat-card-header>

    <form class="example-form" [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <br><br>
        <mat-form-field  class="example-full-width">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </mat-card-content>
      <br><br>
      <button mat-button color="primary" class="btn-block" type="submit" mat-button [disabled]="form.invalid">Log in</button>
    </form>
  </mat-card>

</div>
