<div class="container">
  <h2>{{isFormInEditMode() ? 'Edit Student' : 'Create New Student'}}</h2>
      <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">


        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field class="example-full-width-form">
              <input matInput placeholder="First Name" formControlName="nom">
            </mat-form-field>
          </td>
          <td> &nbsp;</td>
          <td>
            <mat-form-field class="example-full-width-form">
              <input matInput placeholder="Last Name" formControlName="prenom">
            </mat-form-field>
          </td>
        </tr></table>

        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field class="example-full-width-form">
              <input matInput placeholder="cin" formControlName="cin">
            </mat-form-field>
          </td>
          <td> &nbsp;</td>
          <td>
            <mat-form-field class="example-full-width-form">
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </td>
        </tr></table>

        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <table class="example-full-width" cellspacing="0"><tr>
              <td>
                <mat-form-field class="example-full-width-form">
                  <input matInput placeholder="Birth Date" type="date" formControlName="date">
                </mat-form-field>
              </td>
              <td> &nbsp;</td>
              <td>
                <mat-form-field class="example-full-width-form">
                  <input matInput placeholder="Inscription Date" type="date" formControlName="dateInscription">
                </mat-form-field>
              </td>
            </tr></table>

          </td>
          <td> &nbsp;</td>
          <td>
            <mat-form-field class="example-full-width-form">
              <input matInput placeholder="cv" formControlName="cv">
            </mat-form-field>
          </td>
        </tr></table>
        <mat-form-field style="margin-left: 0.5%">
          <mat-label>Diploma</mat-label>
          <mat-select [(ngModel)]="selectedDiploma" formControlName="diplome">
            <mat-option value="Master">Master</mat-option>
            <mat-option value="Thesis">Thesis</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 0.5%">
          <mat-label>Encadrant</mat-label>
          <mat-select [(ngModel)]="selectedEncadrant"  formControlName="encadrant">
            <mat-option
              *ngFor="let encadrant of encadrants" [value]="encadrant">{{encadrant.prenom}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <table class="example-half-width" cellspacing="0"><tr>
          <td>
            <div class="col-md-6 container">
              <form [formGroup]="addForm">
                <div class="form-group">
                  <label for="image" style="margin-left: 0.5%;font-weight: bold">Image</label>
                  <input formControlName="image" type="file" name="image" class="form-control" (change)="onFileChange($event)" id="image">
                  <div *ngIf="f.image.touched && f.image.invalid" class="alert alert-danger">
                    <div *ngIf="f.image.errors.required">Image is required.</div>
                  </div>
                </div>
                <div class="form-group">
                  <br>
                  <img [src]="imageSrc" *ngIf="imageSrc" style="height:150px">
                </div>
              </form>
            </div>
          </td>
          <td></td>
        </tr></table>

        <div class="form-element" style="margin-left: 0.5%">
          <br>
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid || addForm.invalid">Submit</button>
          &nbsp;
          <button mat-raised-button color="warn" [routerLink]="'/members'">Back</button>
        </div>
      </form>
</div>
