<mat-card class="card">
  <mat-card-header>
    <div class="image-cropper">
      <img [src]="item.photo" class="rounded" />

    </div>
  </mat-card-header>

  <mat-card-content>
    <br>
    <table class="example-full-width table1" cellspacing="0"><tr>
      <td>
        <mat-label class="example-full-width-left">
          Full Name:&nbsp;
        </mat-label>
        {{item.prenom}} {{item.nom}}
      </td>
      <td> &nbsp;</td>
      <td>
        <mat-label class="example-full-width-right">
          CIN:&nbsp;
        </mat-label>
        {{item.cin}}
      </td>
    </tr>
      <tr>
        <td>
          <mat-label class="example-full-width-left">
            Birth Date:&nbsp;
          </mat-label>
          {{item.date}}
        </td>
        <td> &nbsp;</td>
        <td>
          <mat-label class="example-full-width-right">
            Email:&nbsp;
          </mat-label>
          {{item.email}}
        </td>
      </tr>
      <tr *ngIf="item.diplome">
        <td>
          <mat-label class="example-full-width-left">
            Diploma:&nbsp;
          </mat-label>
          {{item.diplome}}
        </td>
        <td> &nbsp;</td>
        <td>
          <mat-label class="example-full-width-right">
            Inscription Date:&nbsp;
          </mat-label>
          {{item.dateInscription}}
        </td>

      </tr>
      <tr *ngIf="item.encadrant">
        <td>
          <mat-label class="example-full-width-right">
            Encadrant:&nbsp;
          </mat-label>
        {{item.encadrant.nom}} {{item.encadrant.prenom}}
        </td>
      </tr>
      <tr *ngIf="item.grade">
        <td>
          <mat-label class="example-full-width-left">
            Grade:&nbsp;
          </mat-label>
          {{item.grade}}
        </td>
        <td> &nbsp;</td>
        <td>
          <mat-label class="example-full-width-right">
            Etablissement :&nbsp;
          </mat-label>
          {{item.etablissement}}
        </td>
      </tr>
    </table>
    <hr style="margin-right: 15%;margin-left: 15%;">
    <mat-accordion style="margin-right: 15%;margin-left: 15%;">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           style="margin-right: 15%;margin-left: 15%;">
        <mat-expansion-panel-header>
          <mat-panel-title class="theme-1">
            Events
          </mat-panel-title>
          <mat-panel-description>
            There are {{item.events.length}} Events
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table style="width: 100%" cellspacing="0">
          <tr *ngFor="let event of item.events">
          <td>
            <mat-label class="example-full-width-left">
              Title:&nbsp;
            </mat-label>
            {{event.title}}
          </td>
            <td>
              <mat-label class="example-full-width-right">
                Date:&nbsp;
              </mat-label>
              {{event.date| date :'d MMMM y'}}
            </td>
          <td>
            <mat-label class="example-full-width-right">
              Location:&nbsp;
            </mat-label>
            {{event.lieu}}
          </td>
        </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin-right: 15%;margin-left: 15%;">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           style="margin-right: 15%;margin-left: 15%;">
        <mat-expansion-panel-header>
          <mat-panel-title class="theme-1">
            Articles
          </mat-panel-title>
          <mat-panel-description>
            There are {{item.pubs.length}} Articles
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table style="width: 100%" cellspacing="0">
          <tr *ngFor="let publication of item.pubs">
            <td>
              <mat-label class="example-full-width-left">
                Title:&nbsp;
              </mat-label>
              {{publication.title}}
            </td>
            <td>
              <mat-label class="example-full-width-right">
                Date:&nbsp;
              </mat-label>
              {{publication.date| date :'d MMMM y'}}
            </td>
            <td>
              <mat-label class="example-full-width-right">
                Link:&nbsp;
              </mat-label>
              {{publication.lien}}
            </td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin-right: 15%;margin-left: 15%;">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           style="margin-right: 15%;margin-left: 15%;">
        <mat-expansion-panel-header>
          <mat-panel-title class="theme-1">
            Tools
          </mat-panel-title>
          <mat-panel-description>
            There are {{item.outils.length}} Tools
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table style="width: 100%" cellspacing="0">
          <tr *ngFor="let tool of item.outils">
            <td>
              <mat-label class="example-full-width-left">
                Source:&nbsp;
              </mat-label>
              {{tool.source}}
            </td>
            <td>
              <mat-label class="example-full-width-right">
                Date:&nbsp;
              </mat-label>
              {{tool.date| date :'d MMMM y'}}
            </td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-stroked-button color="warn" [routerLink]="'/members'">Back</button>
  </mat-card-actions>
</mat-card>
