<mat-card class="card">
  <mat-card-header>
    <div class="image-cropper">
      <img [src]="item.photo" class="rounded" />

    </div>
  </mat-card-header>

  <mat-card-content>
    <br>
    <table class="example-full-width table1" cellspacing="0"><tr>
      <td>
        <mat-label class="example-full-width-left">
          Full Name:&nbsp;
        </mat-label>
        {{item.prenom}} {{item.nom}}
      </td>
      <td> &nbsp;</td>
      <td>
        <mat-label class="example-full-width-right">
          CIN:&nbsp;
        </mat-label>
        {{item.cin}}
      </td>
    </tr>
      <tr>
        <td>
          <mat-label class="example-full-width-left">
            Birth Date:&nbsp;
          </mat-label>
          {{item.date}}
        </td>
        <td> &nbsp;</td>
        <td>
          <mat-label class="example-full-width-right">
            Email:&nbsp;
          </mat-label>
          {{item.email}}
        </td>
      </tr>
      <tr *ngIf="item.diplome">
        <td>
          <mat-label class="example-full-width-left">
            Diploma:&nbsp;
          </mat-label>
          {{item.diplome}}
        </td>
        <td> &nbsp;</td>
        <td>
          <mat-label class="example-full-width-right">
            Inscription Date:&nbsp;
          </mat-label>
          {{item.dateInscription}}
        </td>

      </tr>
      <tr *ngIf="item.encadrant">
        <td>
          <mat-label class="example-full-width-right">
            Encadrant:&nbsp;
          </mat-label>
        {{item.encadrant.nom}} {{item.encadrant.prenom}}
        </td>
      </tr>
      <tr *ngIf="item.grade">
        <td>
          <mat-label class="example-full-width-left">
            Grade:&nbsp;
          </mat-label>
          {{item.grade}}
        </td>
        <td> &nbsp;</td>
        <td>
          <mat-label class="example-full-width-right">
            Etablissement :&nbsp;
          </mat-label>
          {{item.etablissement}}
        </td>
      </tr>
    </table>
    <hr style="margin-right: 15%;margin-left: 15%;" *ngIf="item.grade">
    <mat-accordion style="margin-right: 15%;margin-left: 15%;" *ngIf="item.grade">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           style="margin-right: 15%;margin-left: 15%;">
        <mat-expansion-panel-header>
          <mat-panel-title class="theme-1">
            My Students({{students.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table style="width: 100%" cellspacing="0">
          <tr *ngFor="let student of students">
            <td>
              <mat-label class="example-full-width-left">
                CIN:&nbsp;
              </mat-label>
              {{student.cin}}
            </td>
            <td>
              <mat-label class="example-full-width-left">
                Name:&nbsp;
              </mat-label>
              {{student.nom}} {{student.prenom}}
            </td>
            <td>
              <mat-label class="example-full-width-right">
                Diplome:&nbsp;
              </mat-label>
              {{student.diplome}}
            </td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
    <hr style="margin-right: 15%;margin-left: 15%;">
    <mat-accordion style="margin-right: 15%;margin-left: 15%;">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           style="margin-right: 15%;margin-left: 15%;">
        <mat-expansion-panel-header>
          <mat-panel-title class="theme-1">
            Events({{item.events.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table style="width: 100%" cellspacing="0">
          <tr *ngFor="let event of item.events">
          <td>
            <mat-label class="example-full-width-left">
              Title:&nbsp;
            </mat-label>
            {{event.title}}
          </td>
            <td>
              <mat-label class="example-full-width-right">
                Date:&nbsp;
              </mat-label>
              {{event.date| date :'d MMMM y'}}
            </td>
          <td>
            <mat-label class="example-full-width-right">
              Location:&nbsp;
            </mat-label>
            {{event.lieu}}
          </td>
            <td>
              <button mat-icon-button color="primary" (click)="toEditEvent(event.id)" *ngIf="membreId == currentItemId">
                <mat-icon>edit</mat-icon></button>
            </td>
        </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin-right: 15%;margin-left: 15%;">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           style="margin-right: 15%;margin-left: 15%;">
        <mat-expansion-panel-header>
          <mat-panel-title class="theme-1">
            Articles({{item.pubs.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table style="width: 100%" cellspacing="0">
          <tr *ngFor="let publication of item.pubs">
            <td>
              <mat-label class="example-full-width-left">
                Title:&nbsp;
              </mat-label>
              {{publication.title}}
            </td>
            <td>
              <mat-label class="example-full-width-right">
                Date:&nbsp;
              </mat-label>
              {{publication.date| date :'d MMMM y'}}
            </td>
            <td>
              <mat-label class="example-full-width-right">
                Link:&nbsp;
              </mat-label>
              {{publication.lien}}
            </td>
            <td>
              <button mat-icon-button color="primary" (click)="toEditPub(publication.id)" *ngIf="membreId == currentItemId">
                <mat-icon>edit</mat-icon></button>
            </td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin-right: 15%;margin-left: 15%;">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           style="margin-right: 15%;margin-left: 15%;">
        <mat-expansion-panel-header>
          <mat-panel-title class="theme-1">
            Tools({{item.outils.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table style="width: 100%" cellspacing="0">
          <tr *ngFor="let tool of item.outils">
            <td>
              <mat-label class="example-full-width-left">
                Source:&nbsp;
              </mat-label>
              {{tool.source}}
            </td>
            <td>
              <mat-label class="example-full-width-right">
                Date:&nbsp;
              </mat-label>
              {{tool.date| date :'d MMMM y'}}
            </td>
            <td>
              <button mat-icon-button color="primary" (click)="toEditTool(tool.id)" *ngIf="membreId == currentItemId">
                <mat-icon>edit</mat-icon></button>
            </td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end center" style="margin: 3%">
    <button mat-raised-button color="warn" onclick="history.back()">Back</button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="redirectToEdit(item)" *ngIf="membreId == currentItemId">Edit</button>
  </mat-card-actions>
</mat-card>
