<div class="container">

  <h2 class="title">{{isFormInEditMode() ? 'Edit Event' : 'Create New Event'}}</h2>

  <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">

    <mat-form-field>
      <input matInput placeholder="title" formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Date" type="date" formControlName="date">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="location" formControlName="lieu">
    </mat-form-field>



    <div class="form-element" fxLayoutAlign="end center">
      <button mat-raised-button color="warn" [routerLink]="'/events'">Back</button>
      &nbsp;
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
    </div>

  </form>
</div>
